.mt-10pc{
	margin-top: 10%;
}
.box-new{	
 	h1{
 		margin-top: 10%;
 		text-align: center;
 		color: #fff;
 		font-size: 2.1em;
 		margin-bottom: 30px;
		color: $color;
		@media (max-width: 576px){
			font-size: 2em;
		}
		@media (max-width: 378px){
			font-size: 1.4em;
		}
 	}
 	.new-form{ 		
 		padding: 40px; 		
 		background-color: #fff;
 		p{
 			color: $bg-menu;
 			font-size: 17px;
 			text-align: center;
 		}
 		.input{
 			position: relative;
	 		input{
	 			width: 100%;
	 			border: none;
	 			position: relative;
	 			padding: 5px 10px;
	 			border-radius: 2px;
	 			margin-bottom: 30px;
				background-color: #f1f1f1;
				@media (max-width: 378px){
					font-size: 12px;
				}
	 		}
 		}
 		button{
			margin: 0 auto;
		    display: block;
		    padding: 6px 35px;
		    background-color: #ff531a;
		    color: #fff;
		    &:hover{
		    	background-color: #c0370e;
		    }
 		}
 		.error-newPassword{
			color: #ff531a;
		    font-size: 10px;
		    position: absolute;
		    top: 10px;
    		right: 8px;		
			letter-spacing: .5px;
			@media (max-width: 378px){
				font-size: 9px;
				font-weight: bold;
			}
 		}
 	}
}
