.box-recover{
	margin: 0 auto; 	
 	h1{
 		margin-top: 10%;
 		text-align: center;
 		color: #fff;
 		font-size: 2.1em;
 		margin-bottom: 30px;
 		color: $color;
 	}
 	.recover-form{ 		
 		padding: 40px;
 		max-width:650px;
 		width:60%;
 		margin:0 auto; 		
 		background-color: #fff;
 		p{
 			color: $bg-menu;
 			font-size: 17px;
 			text-align: center;
 		}
 		.input-recover{
 			position: relative;
 			input{
	 			width: 100%;
	 			border: none;
	 			padding: 5px;
	 			border-radius: 2px;
	 			margin-bottom: 30px;
	 			background-color: #f1f1f1;
 			}
 		}
 		.error-recover{
		    color: $color;
		    font-size: 10px;
		    padding-left: 24px;
		    position: absolute;
		    top: 10px;
    		right: -12px;
			margin-right: 24px;
			letter-spacing: 0.5px;
 		}
 		.button-recover{
 			button:first-child{
 				background-color: $color2;
 				&:hover{
 					background-color: #1572a0;
 				}
 			}
 			text-align: center;
 			button{
			width: 110px;
		    border: none;
		    border-radius: 5px;
		    background-color: #ff531a;
		    margin: 10px 10px 0px 0;
		    color: #fff;
		    text-transform: uppercase;
		    font-size: 15px;
		    padding: 10px;
		    cursor: pointer;
			    &:hover{
			    	background-color: #c0370e;
			    }
 			}
 		}
 	}
}