.reset-password{
	padding: 10px;
	.title-reset{
		margin-top: 50px;
		color: #ff531a;
	}
	.button-reset{
		background:#ff531a;
		color:white;
	}	
	input{
		@include inputDefault;
		background-color: #3a4450;
		color: #fff;	
	}
	label{
		color: #9dbbdb;
	}
	.error{
		color: #FF8C00;
	    font-size: 10px;
	}
}