
@font-face {
  font-family: 'ProductSans-Regular';
  src: url('ProductSans-Regular.eot?#iefix') format('embedded-opentype'),  url('ProductSans-Regular.woff') format('woff'), url('ProductSans-Regular.ttf')  format('truetype'), url('ProductSans-Regular.svg#ProductSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
