<section class="height-login">
<div class="container text-md-center">
	<div class="box-download">
		<h2>Detectamos que você está ultilizando um dispositivo mmóvel.</h2>
		<p>Baixe nosso aplicativo!</p>	
		<div class="box-icons">
			<div class="row">
			<div class="container">
				<div class="col-xs-6">
				<div class="apple">
					<a target="_blank" href="http://lockerapp.com.br/">
						<img src="assets/img/apple-icon.png" alt="icone da apple" class="img-fluid">
						<p>Apple</p>
					</a>
				</div>
				</div>
				<div class="col-xs-6">
				<div class="android">
					<a target="_blank" href="http://lockerapp.com.br/">
						<img src="assets/img/android-icon.png" alt="icone android" class="img-fluid">
						<p>Android</p>
					</a>
				</div>	
				</div>		
			</div>
			</div>
		</div>
		<div class="logo-footer">
			<a target="_blank" href="http://lockerapp.com.br/" >
				<img src="assets/img/logo2.png" alt="" class="img-fluid">
			</a>
		</div>
	</div>
</div>	
</section>