<section class="recover">
	<div class="container mt-10pc">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 col-xs-12">
				<div class="box-new animated fadeIn">   
					<h1>Insira uma nova senha</h1>   
					<div class="new-form">
						<form ng-submit="formNewPassword()" name="newPasswordForm">
							<p>Digite uma nova senha:</p>
							<div class="input">
								<input name="password" type="password" placeholder="Senha" ng-model="password" required>
								<p class="error-newPassword" ng-show="newPasswordForm.password.$touched && newPasswordForm.password.$invalid">Campo Obrigatório!</p>
							</div>
							<div class="input">
								<input name="confPassword" type="password" placeholder="Confirmar senha" ng-model="confirmPassword" required>
								
								<p class="error-newPassword" ng-show="password !== confirmPassword">Senhas nao conferem!</p>
							</div>
							<!-- <p class="error-newPassword" ng-show="newPasswordForm.confPassword !== newPasswordForm.password">Senha não confere!</p> -->
							<button class="btn" type="submit">Enviar</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</section>