<section class="recover">
	<div class="box-recover animated fadeIn">
		<h1>Vamos localizar sua conta</h1>
		<div class="recover-form">
			<form ng-submit="formRecover()" name="recoverForm">
				<p>Insira seu e-mail:</p>
				<div class="input-recover">
					<input name="email" type="email" placeholder="E-mail" ng-model="email">
					<p class="error-recover" ng-show="recoverForm.email.$touched && recoverForm.email.$invalid">E-mail invalido!</p>
				</div>
				<div class="button-recover">
					<button class="btn" type="submit">Enviar</button>
					<button class="btn" ui-sref="login">Cancelar</button>					
				</div>
			</form>
		</div>
	</div>
</section>