<section class="content-view">
	<div class="reset-password">
		<h2 class="profile title-reset">Alterar senha</h2>
		<br>
		<form name="formChangePassword" ng-submit="changePassword()">
			<div class="form-group">
				<label for="passoword">Digite sua senha atual</label>
				<input type="text" class="form-control" id="passoword" name="password" placeholder="Senha atual" 
				ng-model="dataChangePass.currentPass" required>
				<p class="error" ng-show="formChangePassword.password.$touched && formChangePassword.password.$invalid">
					Campo Obrigatório!
				</p>
			</div>
			<div class="form-group">
				<label for="newpassword1">Digite sua nova senha</label>
				<input type="password" class="form-control" name="newpassword1" id="newpassword1" placeholder="Nova senha" ng-model="dataChangePass.newPass" required>
				<p class="error" ng-show="formChangePassword.newpassword1.$touched && formChangePassword.newpassword1.$invalid">
					Campo Obrigatório!
				</p>
			</div>
			<div class="form-group">
				<label for="newpassoword2">Confirme sua nova senha</label>
				<input type="password" class="form-control" name="newpassoword2" id="newpassoword2" placeholder="Nova senha" ng-model="dataChangePass.confNewPass" required>
				<p class="error" ng-show="dataChangePass.newPass !== dataChangePass.confNewPass">
					Senha não confere
				</p>
			</div>
			<input type="submit" class="btn button-reset" ng-disabled="formChangePassword.$invalid || dataChangePass.newPass !== dataChangePass.confNewPass">
		</form>
	</div>
</section>

